@use 'mixins/mixins' as *;
@use './var' as *;

@include b(card) {
  border-radius: 3px;
  border: 1px solid $border-color-light;
  overflow: hidden;
  background: $bg-color;
  box-shadow: $box-shadow-light;

  @include e(header) {
    padding: 20px 10px 15px 10px;
    margin: 0 10px;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
  }

  @include e(content) {
    padding: 20px;
    box-sizing: border-box;
  }
}