@import "mixins/mixins";
@import "./var";

.mi-timeline {
  overflow: hidden;

  .mi-the_line_box {
    position: relative;
    ul {
      display: flex;
      margin-left: 0;
      padding: 0;
    }
    .mi-slider {
      background: $--color-primary;
      width: 10px;
      height: 20px;
      position: absolute;
      left: 0;
      top: -6px;
      border-radius: 2px;
      cursor: pointer;
    }
  }
  .mi-line_item {
    display: inline-block;
    margin-right: 10px;
    .mi-line_fill {
      background: rgba($--color-primary, 0.1);
      border-radius: 3px;
      height: 6px;
      width: 100%;
    }
    .mi-line_text {
      font-size: 12px;
      margin-top: 10px;
      display: inline-block;
      color: #888;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .mi-time_item_box {
    /*display: inline-block;*/
    width: auto;
    margin-left: 3px;
    display: inline-flex;
    flex: none;
    margin: 0;
    padding: 0;
    > li {
      display: inline-flex;
    }
    .mi-time_item_li {
      position: relative;
      display: inline-block;
      margin-right: 30px;
      flex: none;
    }
  }
  .mi-time_line_content {
    white-space: nowrap;
    width: auto;
    transition-duration: 0ms;
    display: flex;
    li {
      transition-property: transform;
    }
  }
}