@import "mixins/mixins";
@import "./common/var";

@include b(image-preview) {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  color: var(--color-white);
  background: rgba(0, 0, 0, 0.7);

  @include e(img) {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 14;
    max-width: 95%;
    max-height: 95%;
  }
  @include e(top) {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 17;
    margin-bottom: 10px;
  }
  @include e(bottom) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    z-index: 17;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    margin-top: 10px;
  }
  @include e(icon) {
    border-radius: 50%;
    background: rgba(143, 143, 143, 0.4);
    color: var(--color-white);
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    opacity: 0.5;
    z-index: 17;
    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }
  @include e(left) {
    left: 10px;
  }
  @include e(right) {
    right: 10px;
  }
  @include e(close) {
    position: absolute;
    cursor: pointer;
    right: 20px;
    background: rgba(143, 143, 143, 0.4);
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    top: 10px;
  }
}
