@use 'mixins/mixins' as *;
@use './common/var' as *;

@include b(images) {
  position: relative;
  overflow: hidden;
  @include e(content) {
    display: flex;
    transition: all 0.3s;
    overflow-x: scroll;
  }
  @include e(btn) {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgba(#fff, 0.7);
    top: 30%;
  }
  @include e(next) {
    right: 0;
  }
  @include e(prev) {
    left: 0;
  }
  @include e(item) {
    flex: none;
    width: 120px;
    height: 140px;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    & + .mi-images__item {
      margin-left: 10px;
    }
    .mi-images__src {
      width: 100%;
      height: 80%;
      flex: 1 auto;
      overflow: hidden;
      margin-bottom: 5px;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    .mi-images__txt {
      padding-bottom: 5px;
    }
  }
}