@use 'sass:map';

$--color-primary: #2196f3 !default;

$border-color: #dcdfe6 !default;
$border-color-light: #e4e7ed !default;
$bg-color: #fff !default;

$box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12) !default;
