@import '../../lib/themes/index.css';

$primary: #2196f3;
$white: #fff;

[class^="mi-"], [class*=" mi-"] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #app{
  height: 100%;
}

body {
  background: #ddedf6;
}

.main-container {
  width: 100%;
  position: relative;
  text-align: left;
  color: $primary;
  height: calc(100% - 55px);
}

ul {
  margin: 0;
  padding: 0;
}

.markdownIt-Anchor {
  display: none;
}

.vuedoc {
  h2 {
    margin-bottom: 20px;
  }
}

/*滚动条样式 webkit有效*/
::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.5);
  border-radius: 4px;
}
